@media (max-width: 93em) {
  .cta-right--email-box-input {
    width: 100%;
  }
}
@media (max-width: 80em) {
  html {
    font-size: 60%;
  }
  header {
    margin: 0 auto;
    padding: 3rem 4rem;
  }
  .header-navigation-logo {
    max-width: 55%;
  }
  .header-navigation-txt {
    align-items: center;
    gap: 3rem;
  }
  .sec-1 {
    flex-direction: column;
    flex-direction: column-reverse;
    padding: 3rem 4rem;
    text-align: center;
  }
  .sec-1-right {
    justify-content: center;
    margin-bottom: 4rem;
  }
  .sec-1-left {
    max-width: none;
  }
  .sec-1-left--email-box {
    flex-direction: column;
  }
  .email-box-input {
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .email-box-submit {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .sec-2 {
    flex-direction: column;
    flex-direction: column-reverse;
    text-align: center;
    padding: 3rem 4rem;
    background-image: url(images/bg-curve-mobile.svg);
  }
  .sec-2-right-logo {
    max-width: 55%;
  }
  .sec-2-right {
    justify-content: center;
  }
  .sec-2-left {
    max-width: none;
    align-items: center;
  }
  .sec-1-left--primary-txt {
    font-size: 2rem;
  }
  .sec-1-left--secondary-txt {
    font-size: 1.4rem;
    text-align: start;
  }
  .sec-1-left--tut-link {
    max-width: 50%;
  }
  .testimonial {
    align-items: start;
    max-width: none;
    padding: auto;
    margin-bottom: 8rem;
  }
  .testimonial-secondary-txt {
    text-align: start;
  }
  .testimonial-person-box--txt {
    align-items: start;
  }
  .cta {
    flex-direction: column;
    gap: 4rem;
    padding: 3rem 4rem;
  }
  .cta-left {
    text-align: center;
    max-width: none;
  }
  .cta-right--email-box {
    align-items: center;
  }
  .cta-right--email-box-input,
  .cta-right--email-box-submit {
    width: 150%;
  }
  footer {
    padding: 8rem 4rem;
  }
  .footer-txt-box {
    flex-direction: column;
    gap: 8rem;
  }
  .footer-txt-box-left {
    row-gap: 1.5rem;
  }
  .footer-txt-box-middle {
    grid-template-columns: 1fr;
    align-items: end;
  }
  .jobs {
    grid-row-start: 2;
  }
  .press {
    grid-row-start: 3;
  }
  .blog {
    grid-row-start: 4;
  }
  .footer-txt-box-right {
    padding-left: 25%;
  }
}
